body
{
    background-image: url(../images/185808-OXENJI-55.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}



#containerMain
{
    width: 80%;
    height: 550px;
    margin: 5%  auto 2% auto;
}

#containerHeader
{
    width: 100%;
    height: 20%;
    background-color: none; 
}

.containerHElement
{
    width: 41%;
    background-color: #319c49; /*#58dd11*/
    display: inline-block;
    height: 100%; 
}


#conHElemntR
{
        margin-left: 8%;

}

#conHElemntL
{
        margin-right: 8%;
}

h2
{
    color: white;
    font-family: "Harmattan";
    text-align: center;
    margin: 10% auto;
    
}

.required
{
    font-size: 0.7em;
    color: red;
}


#containerBody
{
    width: 100%;
    height: 80%;
    background-color: #112029;
    margin: 0 auto;
    border: 3px solid white;
    text-align: right;
    
}

.studentBody
{
    display:none;
}

.teacherBody
{
    display:none;
}
label
{
    font-size: 1.4em;
    color: white;
    direction: rtl;
    text-align: right;
}

.parts
{
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.bothNames
{
    width: 50%;
    margin: 0 auto;
    
}

.parts-elm-3
{
    width: 25%;
    margin: 0 auto;
    
}


.containerHElement:hover , .containerHElement:hover #subHElementL, .containerHElement:hover #subHElementR 
{
    background-color: inherit;
    color: #28a745;
}

.containerHElement:hover
{
     background-color:white;
}
/*footer*/
footer p
{
    color: white;
}